{% extends 'section/layout.html.twig' %}

{% block title %}
<h1>Register</h1>
{% endblock %}

{% block body %}
{{ form_start(form) }}

    {{ form_label(form.username) }}
    {{ form_widget(form.username) }}
    {# fields errors #}
    {{ form_errors(form.username) }}

    {{ form_label(form.avatar) }}
    {{ form_widget(form.avatar) }}  
    {# fields errors #}
    {{ form_errors(form.avatar) }}

    {{ form_label(form.email) }}
    {{ form_widget(form.email) }}  
    {# fields errors #}
    {{ form_errors(form.email) }}

    {{ form_label(form.password.first) }}
    {{ form_widget(form.password.first) }}  
    {# fields errors #}
    {{ form_errors(form.password.first) }}

    {{ form_label(form.password.second) }}
    {{ form_widget(form.password.second) }}  
    {# fields errors #}
    {{ form_errors(form.password.second) }}

    {{ form_label(form.create_time) }}
    {{ form_widget(form.create_time) }}  
    {# fields errors #}
    {{ form_errors(form.create_time) }}

    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}  
    {# fields errors #}
    {{ form_errors(form.name) }}

    {{ form_label(form.prenom) }}
    {{ form_widget(form.prenom) }}  
    {# fields errors #}
    {{ form_errors(form.prenom) }}

    {{ form_label(form.age) }}
    {{ form_widget(form.age) }}  
    {# fields errors #}
    {{ form_errors(form.age) }}
    
    <h1>test</h1>
    <a class="btn"><button type="submit">Register</button></a>
{{ form_end(form) }}
{% endblock %}
