{% extends 'section/layout.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="{{ asset('uploads/avatars/' ~ user.avatar) }}" alt="avatar {{ user.id }}" class="img-fluid img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            {{user.name}} {{ user.prenom }}</h4>
                        <small><cite title="age">{{ user.age }} ans<i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>{{ user.email }}
                            <br />
                            
                            <i class="glyphicon glyphicon-gift"></i>{{ user.createtime|date('Y-m-d H:i:s') }}</p>
                             
                        <a class="btn btn-primary" href={{ path('blog/destroyUser',{ "id" : user.id}) }}><button>destroy</button></a>
                        <a class="btn btn-primary" href={{ path('blog/adopter/add',{ "id" : user.id}) }}><button>Become an adopter</button></a>
                        <a class="btn btn-primary" href={{ path('blog/owner/add',{ "id" : user.id}) }}><button>Become an owner</button></a>
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}