{% extends 'section/layout.html.twig' %}

{% block body %}
    <div class="table-responsive">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="row">#</th>
                {% for article in pagination %}
        
                    <th>
                        <a class="btn btn-primary" href={{ path('blog/show',{ "id" : article.id}) }}><button>{{  article.id  }}</button></a>
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">auteur</th>
                {% for article in pagination %}
                    <th>{{  article.auteur  }}</th>
                {% endfor %}
            </tr>
             <tr>
                <th scope="row">titre</th>
                {% for article in pagination %}
                    {% if article.titre|length <= 0 %}
                        <th>Pas de titre</th>
                    {% else %}
                        <th>{{  article.titre  }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Excerpt article</th>
                {% for article in pagination %}
                    {% if article.corps|length > 30 %}
                        <th>{{  article.corps[:31]  }}</th>
                    {% else %}
                        <th>{{  article.corps  }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">suppression</th>
                {% for article in pagination %}
                    <th>
                        <a class="btn btn-primary" href={{ path('blog/destroy',{ "id" : article.id}) }}><button>destroy</button></a>
                    </th>
                {% endfor %}
            </tr>
             <tr>
                <th scope="row">Modification</th>
                {% for article in pagination %}
                    <th>
                        <a class="btn btn-info" href={{ path('blog/article/edit', {"id" : article.id}) }} tabindex="-1" aria-disabled="true">Update</a>
                    </th>
                {% endfor %}
            </tr>
        </tbody>
    </table>

   {# total items count #}
{# <div class="count">
    {{ pagination.getTotalItemCount }}
</div> #}
{# <table>
    <tr>
        {# sorting of properties based on query components #}
        {# <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
        <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>
    </tr> #}

    {# table body #}
    {# {% for article in pagination %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td>{{ article.id }}</td>
            <td>{{ article.titre }}</td>
            <td>{{ article.corps }}</td>
        </tr>
    {% endfor %} #}
{# </table> #}
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
    

{% endblock %}