{% extends 'section/layout.html.twig' %}


{% block title %}Update an article !{% endblock %}

{% block body %}
{{ article.auteur }}
{{ article.corps }}
{{ article.creationDate|date("m/d/Y", "Europe/Paris") }}
<section>
{{form_start(form)}}
{# general errors #}
{{form_errors(form)}}

{{ form_label(form.auteur) }}
{{ form_widget(form.auteur) }}
{# fields errors #}
{{ form_errors(form.auteur) }}

{{ form_label(form.corps) }}
{{ form_widget(form.corps) }}
{# fields errors #}
{{ form_errors(form.corps) }}

{{ form_label(form.creation_date) }}
{{ form_widget(form.creation_date) }}
{# fields errors #}
{{ form_errors(form.creation_date) }}

<a class="btn btn-primary" href={{ path('blog/article/edit',{ 'id' : article.id}) }}><button>edit</button></a>

{{form_end(form)}}

</section>
{% endblock %}